<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project_a">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".towerlamp.ReportFinalActivity"/>
        <activity android:name=".towerlamp.ReportViewActivity" />
        <activity android:name=".towerlamp.ReportActivity" />
        <activity android:name=".towerlamp.HapusLampActivity" />
        <activity android:name=".p2h.Show_cek" />
        <activity android:name=".p2h.PushCek" />
        <activity android:name=".p2h.CekCekActivity" />
        <activity android:name=".p2h.CekHarianActivity" />
        <activity android:name=".towerlamp.LihatLampActivity" />
        <activity android:name=".towerlamp.PushLamp" />
        <activity android:name=".pompa.Tower2Activity" />
        <activity android:name=".pompa.TowerActivity" />
        <activity android:name=".input.HapusReportActivity" />
        <activity android:name=".input.ShowReportPompaActivity" />
        <activity android:name=".input.ReportPompaActivity" />
        <activity android:name=".input.PushActivity" />
        <activity android:name=".nav_pompa.NavActivity" />
        <activity android:name=".pompa.Pompa2Activity" />
        <activity android:name=".pompa.PompaActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".input.TampilWpActivity" />
        <activity android:name=".input.TampilSemuaWpActivity" />
        <activity android:name=".input.Input_Activity" />
        <activity android:name=".Dashboard_Activity">

        </activity>
        <activity
            android:name=".Daftar_Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".Splash_Activity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>
</manifest>